<header class="navbar-container">

  <div class="navbar-left">

    <button
      type="button"
      class="menu-button"
      aria-label="Open menu"
    >
      <i class="bi bi-list"></i>
    </button>

    <span class="page-title">
  {{ pageTitle }}
</span>

  </div>

  <div class="navbar-right">

    <div class="user-menu">

      <button
        type="button"
        class="user-trigger"
        (click)="toggleUserMenu()"
        [attr.aria-expanded]="isUserMenuOpen"
        aria-label="Open user menu"
      >

        <div class="user-avatar">
          {{ userInitial }}
        </div>

        <div class="user-info">
          <span class="user-name">{{ username }}</span>
        </div>

        <i class="bi bi-chevron-down user-chevron"></i>

      </button>

      @if (isUserMenuOpen) {

        <div class="user-dropdown">

          <button
            type="button"
            class="dropdown-item"
            (click)="logout()"
          >
            <i class="bi bi-box-arrow-right"></i>
            <span>Logout</span>
          </button>

        </div>

      }

    </div>


  </div>

</header>
